@model Bookleus.Application.Books.Queries.GetBooks.BooksVM
@{
    ViewData["Title"] = "Home Page";
}

@if (TempData.TryGetValue("book-reserve-success", out var message))
{
    <div class="alert alert-success">
        @message
    </div>
}

<div>
    <p class="display-5">Featured Books</p>
</div>

<partial model="@Model.Data" name="~/Views/Shared/Books/_BookListing.cshtml" />
